# Tugas Besar 2 IF3170 - Intelegensi Buatan
## Kelompok Butuh Passingan
### Nama Anggota :
1. Andreas Halim - 13516003
2. Aldo Azali - 13516125
3. Untung Tanujaya - 13516135
4. Dafi Faraz - 13516XXX
5. Jeffry - 13516156

In [59]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [60]:
df = pd.read_csv('tubes2_HeartDisease_train.csv', na_values='?')
dg = pd.read_csv('tubes2_HeartDisease_test.csv', na_values='?')
df.shape

(779, 14)

In [61]:
df.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,54,1,4,125.0,216.0,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,1
1,55,1,4,158.0,217.0,0.0,0.0,110.0,1.0,2.5,2.0,NaN,NaN,1
2,54,0,3,135.0,304.0,1.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0,0
3,48,0,3,120.0,195.0,0.0,0.0,125.0,0.0,0.0,NaN,NaN,NaN,0
4,50,1,4,120.0,0.0,0.0,1.0,156.0,1.0,0.0,1.0,NaN,6.0,3

In [62]:
df.columns = ['Age', 'Sex', 'Chest-Pain_Type', 'Resting_Blood_Pressure', 'Serum_Cholestrol', 'Fasting_Blood_Sugar_120',
       'resting_ECG', 'Max-Heart_Rate_Achieved', 'Exercise_Induced_Angina', 'ST_Depression', 'Peak_Exercise', 'Number_Major_Vessels',
       'Thal', 'Diagnosis_HD']
dg.columns = ['Age', 'Sex', 'Chest-Pain_Type', 'Resting_Blood_Pressure', 'Serum_Cholestrol', 'Fasting_Blood_Sugar_120',
       'resting_ECG', 'Max-Heart_Rate_Achieved', 'Exercise_Induced_Angina', 'ST_Depression', 'Peak_Exercise', 'Number_Major_Vessels',
       'Thal']

In [63]:
dg.head()

,Age,Sex,Chest-Pain_Type,Resting_Blood_Pressure,Serum_Cholestrol,Fasting_Blood_Sugar_120,resting_ECG,Max-Heart_Rate_Achieved,Exercise_Induced_Angina,ST_Depression,Peak_Exercise,Number_Major_Vessels,Thal
0,60,1,2,160.0,267.0,1.0,1,157.0,0.0,0.5,2.0,NaN,NaN
1,61,1,4,148.0,203.0,0.0,0,161.0,0.0,0.0,1.0,1.0,7.0
2,54,1,4,130.0,242.0,0.0,0,91.0,1.0,1.0,2.0,NaN,NaN
3,48,1,4,120.0,260.0,0.0,0,115.0,0.0,2.0,2.0,NaN,NaN
4,57,0,1,130.0,308.0,0.0,0,98.0,0.0,1.0,2.0,NaN,NaN

## Data Preprocessing

### Check Null Values
If there is null values, then change it to :
1. Median
2. dummy value (ex : 'Empty' OR '?')
3. mode

In [64]:
# NaN data to Median
# from sklearn.preprocessing import Imputer
# imputer = Imputer(strategy='median')
# pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [65]:
df.isnull().sum()

Age                          0
Sex                          0
Chest-Pain_Type              0
Resting_Blood_Pressure      47
Serum_Cholestrol            24
Fasting_Blood_Sugar_120     78
resting_ECG                  2
Max-Heart_Rate_Achieved     44
Exercise_Induced_Angina     44
ST_Depression               49
Peak_Exercise              262
Number_Major_Vessels       514
Thal                       408
Diagnosis_HD                 0
dtype: int64

In [68]:
# RBP, SC, MHRA, STD,  = median
# FBS, ecg, EIA, pe, NMV, thal = mode
# fbs, ECG , eia, PE,nmv, THAL = 'Empty'
rbp_med = df['Resting_Blood_Pressure'].median()
sc_med = df['Serum_Cholestrol'].median()
mhra_med = df['Max-Heart_Rate_Achieved'].median()
std_med = df['ST_Depression'].median()
# fbs_mod = df['Fasting_Blood_Sugar_120'].mode()
# ecg_mod = df['resting_ECG '].mode()
# eia_mod = df['Exercise_Induced_Angina'].mode()
# pe_mod = df['Peak_Exercise'].mode()
# nmv_mod = df['Number_Major_Vessels'].mode()
# thal_mod = df['Thal'].mode()

In [69]:
# Fill with median
df['Resting_Blood_Pressure'] = df['Resting_Blood_Pressure'].fillna(rbp_med)
df['Serum_Cholestrol'] = df['Serum_Cholestrol'].fillna(sc_med)
df['Max-Heart_Rate_Achieved'] = df['Max-Heart_Rate_Achieved'].fillna(mhra_med)
df['ST_Depression'] = df['ST_Depression'].fillna(std_med)
# Others Fill with '?'
df = df.fillna('?')

In [72]:
rbp_medg = dg['Resting_Blood_Pressure'].median()
sc_medg = dg['Serum_Cholestrol'].median()
mhra_medg = dg['Max-Heart_Rate_Achieved'].median()
std_medg = dg['ST_Depression'].median()

In [75]:
# Fill with median
dg['Resting_Blood_Pressure'] = dg['Resting_Blood_Pressure'].fillna(rbp_medg)
dg['Serum_Cholestrol'] = dg['Serum_Cholestrol'].fillna(sc_medg)
dg['Max-Heart_Rate_Achieved'] = dg['Max-Heart_Rate_Achieved'].fillna(mhra_medg)
dg['ST_Depression'] = dg['ST_Depression'].fillna(std_medg)
# Others Fill with '?'
dg = dg.fillna('?')

In [76]:
dg.isnull().sum()

Age                        0
Sex                        0
Chest-Pain_Type            0
Resting_Blood_Pressure     0
Serum_Cholestrol           0
Fasting_Blood_Sugar_120    0
resting_ECG                0
Max-Heart_Rate_Achieved    0
Exercise_Induced_Angina    0
ST_Depression              0
Peak_Exercise              0
Number_Major_Vessels       0
Thal                       0
dtype: int64

### Create Data Split Train and Data Split Test(90:10)

In [77]:
from scipy.stats import ttest_ind

In [85]:
y_train = df['Diagnosis_HD']  # yang ingin diprediksi
X_train = df.drop(['Diagnosis_HD'], axis = 1)

In [86]:
from sklearn.model_selection import train_test_split
X_train_split, X_test_split, y_train_split, y_test_split = train_test_split(X_train, y_train, test_size = 0.25, random_state=123)
X_train_split.head()

,Age,Sex,Chest-Pain_Type,Resting_Blood_Pressure,Serum_Cholestrol,Fasting_Blood_Sugar_120,resting_ECG,Max-Heart_Rate_Achieved,Exercise_Induced_Angina,ST_Depression,Peak_Exercise,Number_Major_Vessels,Thal
560,37,0,3,130.0,211.0,0,0,142.0,0,0.0,?,?,?
526,71,1,4,130.0,221.0,0,1,115.0,1,0.0,?,?,?
521,52,1,4,135.0,0.0,?,0,128.0,1,2.0,2,?,7
317,53,0,4,130.0,264.0,0,2,143.0,0,4.0,2,0,3
31,58,0,4,100.0,248.0,0,2,122.0,0,1.0,2,0,3

In [87]:
y_train_split.head()

560    0
526    3
521    2
317    0
31     0
Name: Diagnosis_HD, dtype: int64

### Create Data Full Train and Data Test

In [88]:
#TBD

## Data Processing

### Feature Engineering

In [89]:
# TBD

### Make Dummies

In [90]:
X_train_split = pd.get_dummies(X_train_split)
X_test_split = pd.get_dummies(X_test_split)

In [91]:
X_train_split.head()

,Age,Sex,Chest-Pain_Type,Resting_Blood_Pressure,Serum_Cholestrol,Max-Heart_Rate_Achieved,ST_Depression,Fasting_Blood_Sugar_120_0.0,Fasting_Blood_Sugar_120_1.0,Fasting_Blood_Sugar_120_?,...,Peak_Exercise_?,Number_Major_Vessels_0.0,Number_Major_Vessels_1.0,Number_Major_Vessels_2.0,Number_Major_Vessels_3.0,Number_Major_Vessels_?,Thal_3.0,Thal_6.0,Thal_7.0,Thal_?
560,37,0,3,130.0,211.0,142.0,0.0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
526,71,1,4,130.0,221.0,115.0,0.0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
521,52,1,4,135.0,0.0,128.0,2.0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
317,53,0,4,130.0,264.0,143.0,4.0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
31,58,0,4,100.0,248.0,122.0,1.0,1,0,0,...,0,1,0,0,0,0,1,0,0,0

In [92]:
null_in_test = list(set(X_train_split.columns) - set(X_test_split.columns))
null_in_train = list(set(X_test_split.columns) - set(X_train_split.columns))
print(null_in_test)
print(null_in_train)

['resting_ECG_?']
[]

In [93]:
for col in null_in_test:
    X_test_split[col] = 0

In [94]:
null_in_test = list(set(X_train_split.columns) - set(X_test_split.columns))
null_in_train = list(set(X_test_split.columns) - set(X_train_split.columns))
print(null_in_test)
print(null_in_train)

[]
[]

### Modeling with ML

In [95]:
from sklearn.metrics import accuracy_score

#### KNN (K Nearest Neighbors)

In [96]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

In [97]:
knn.fit(X_train_split, y_train_split)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [99]:
predict_knn = knn.predict(X_test_split)

In [111]:
predict_knn[0:20]

array([3, 0, 1, 1, 1, 0, 0, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [112]:
y_test_split[0:20]

166    3
375    1
594    0
639    2
677    3
499    0
307    0
230    1
57     0
396    3
55     0
134    1
272    4
289    0
389    0
673    1
632    0
728    3
162    0
164    0
Name: Diagnosis_HD, dtype: int64

In [108]:
print('Nilai akurasi knn  : ', accuracy_score(y_test_split, predict_knn))

Nilai akurasi knn  :  0.48717948717948717

In [109]:
knn.score(X_train_split ,y_train_split)

0.6215753424657534

In [110]:
knn.score(X_test_split ,y_test_split)

0.48717948717948717

### Model yang lain

In [ ]:
# TBD